{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <div class="login">
        <div class="ui main text container">
            <div class="ui middle aligned center aligned grid">
              <div class="column">
                <h2 class="ui image header">
                  <div class="content">
                    Log-in to your account
                  </div>
                </h2>
                <form action="{% url 'account_login' %}" method="POST" class="ui large form">
                    {% csrf_token %}
                  <div class="ui raised secondary segment">
                    <div class="field">
                      <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input id="id_login" type="text" name="login" placeholder="Имя пользователя" autofocus="autofocus" maxlength="150" required="">
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui left icon input">
                        <i class="lock icon"></i>
                          <input type="password" name="password" placeholder="Пароль" required="" id="id_password">
                      </div>
                    </div>
                    <div class="field">
                        <div class="ui left checkbox">
                            <label for="id_remember">Запомнить меня</label>
                            <input type="checkbox" name="remember" id="id_remember">
                        </div>
                    </div>
                      <button class="ui fluid large teal submit button" type="submit">{% trans "Sign In" %}</button>
                  </div>
                  <div class="ui error message"></div>
                </form>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
