{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="ui big breadcrumb">
        <a href="/projects/" class="section">Проекты</a>
        <i class="right chevron icon divider"></i>
        <a href="/projects/{{ page.projectid }}/" class="section">{{ project.title }}</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">{{ page.title }}</div>
    </div>



    <p><a href="update_page/" class="item">Обновить страницу</a></p>

    <p>Название: {{ page.title }}</p>
    <p>Идентификатор: {{ page.id }}</p>
    <p>Описание: {{ page.descr }}</p>
    <p>ИД проекта: {{ page.projectid }}</p>
    <p>Картинка: {{ page.img }}</p>
    <p>featureimg: {{ page.featureimg }}</p>
    <p>alias: {{ page.alias }}</p>
    <p>Дата создания: {{ page.date }}</p>
    <p>Номер очередности в списке страниц: {{ page.sort }}</p>
    <p>Адрес страницы: {{ page.published }}</p>
    <p>Имя файла: {{ page.filename }}</p>

    {% if page.page_path %}
        <p>Страница на нашем сервере: <a href="{{ page.page_path }}" target="_blank">{{ page.title }}</a></p>
    {% else %}
        <p>На нашем сервере еще нет данной страницы. Чтобы она там появилась неоходимо нажать кнопку "Обновить
            станицу"</p>
    {% endif %}

    <div>{{ page.html }}</div>

{% endblock %}
