{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="ui huge breadcrumb">
        <a href="/projects/" class="section">Проекты</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">{{ project.title }}</div>
    </div>

    <p><a href="update_project/" class="item">Обновить проект</a></p>


    <div class="content">
    <i class="right floated sync alternate icon"></i>
    <div class="header">{{ project.title }}</div>
         {% if project.last_updated %} <div class="meta">Обновлено: {{ project.last_updated }}</div> {% endif %}

    <div class="description">
        <p>Идентификатор проекта: <strong>{{ project.id }}</strong></p>
    {% if project.customdomain %} <p>Домен: {{ project.customdomain }}</p> {% endif %}
        {% if project.descr %} <p>Описание: {{ project.descr }}</p> {% endif %}
    </div>
  </div>
  <div class="extra content">
    <i class="check icon"></i>
    121 Votes
  </div>


{#    <p>Название: {{ project.title }}</p>#}
{#    <p>Идентификатор: {{ project.id }}</p>#}



{#    {% if project.favicon %} <p>Картинка: {{ project.favicon }}</p> {% endif %}#}


    {% if pages %}
        <p>Страницы проекта ({{ pages|length }}):</p>
        <div class="ui divided items">
            {% for page in pages %}
                <div class="item">
                    <div class="content">
                        <a href="/projects/{{ project.id }}/page/{{ page.id }}/" class="header">{{ page.title }}</a>
                        <div class="description">
                            <p>{{ page.descr }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Проект не имеет страниц.</p>
    {% endif %}

{% endblock %}
