{% extends "base.html" %}
{% load static %}
{% block content %}
    <h3 class="ui header">Проекты</h3>
    <div class="ui link cards">
        {% for project in projects %}
            <a class="ui card" href="/projects/{{ project.id }}/">
                <div class="content">
                    <div class="header">{{ project.title }}</div>
                    <div class="description">
                        <p>{{ project.descr }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    <a href="/projects/update_projects/" class="item">Обновить проекты</a>
{% endblock %}