{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="ui huge breadcrumb">
        <a href="/projects/" class="section">Проекты</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">{{ project.title }}</div>
    </div>

    <a href="update_project/" class="item">Обновить проект</a>

    <p>Название: {{ project.title }}</p>
    <p>Идентификатор: {{ project.id }}</p>
    <p>Описание: {{ project.descr }}</p>
    <p>Домен: {{ project.customdomain }}</p>
    <p>Картинка: {{ project.favicon }}</p>
    {#    <p>static_files: {{ project.static_files }}</p>#}

    {% if pages %}
        <p>Страницы проектов:</p>
        {% for page in pages %}
            <li><a href="/projects/{{ project.id }}/page/{{ page.id }}/">{{ page.title }}</a></li>
        {% endfor %}
    {% else %}
        <p>Проект не имеет страниц.</p>
    {% endif %}
{% endblock %}
